<?xml version="1.0" encoding="UTF-8"?><!--comment-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:改mapper.xml映射文件的唯一标识并且必须和数据处理层mapper的接口的路径相同-->
<mapper namespace="idv.ytchang.springboot2.mapper.UserMapper">
	<resultMap id="User" type="User">
		<!-- column 對應 Java entity; property對應 DB column -->
		<id column="uuid" property="uuid" javaType="String" jdbcType="CHAR" />
		<result column="username" property="username" javaType="String" />
		<result column="password" property="password" javaType="String" />
		<result column="isAccountNoExpired" property="is_account_non_expired" javaType="boolean"/>
		<result column="isAccountNonLocked" property="is_account_non_locked" javaType="boolean"/>
		<result column="isCredentialsNonExpired" property="is_credentials_non_expired" javaType="boolean"/>
		<result column="isEnabled" property="is_enabled" javaType="boolean"/>
		<result column="dateCreated" property="date_created" javaType="Date" />
		<result column="createdBy" property="created_by" javaType="String"/>
		<result column="lastUpdated" property="last_updated" javaType="Date"/>
		<result column="lastUpdatedBy" property="last_updated_by" javaType="String"/>
	</resultMap>
	<resultMap id="Role" type="Role">
		<id column="uuid" property="uuid" javaType="String" jdbcType="CHAR" />
		<result column="authority" property="role_name" javaType="String" />
	</resultMap>
	<select id="getUserByUsername" resultType="User">
		select * from ds1.user
		<where>
			username = #{usernasme} and is_account_non_expired = true
		</where> 
	</select>
	<select id="getRolesByUser" parameterType="User" resultType="Role">
		select uuid, role_name authority 
		from ds1.user_role a 
		join ds1.role b on a.role_id = b.uuid 
		<where>
			a.user_id = #{uuid}
		</where>
	</select>
</mapper>